
/* ---------SIDEBAR RULES--------- */


/* z-index minore per la sidebar in modo tale da matterla sotto la navbar */

#side-nav{
    z-index: 1;
}

/* offset superiore per la sidebar */

.sticky-offset {
    position: relative;
    top: 56px;
    
}

/* --------CONTENT RULES-------- */


/* offset superiore e laterale */
#dashboard{
    position: relative;
    width: 100%;
    top: 56px;

}

.size{
    height: 150px;
}


