
/* ---------SIDEBAR RULES--------- */


/* z-index minore per la sidebar in modo tale da matterla sotto la navbar */

#side-nav{
    z-index: 1;
}

/* offset superiore per la sidebar */

.sticky-offset {
    position: relative;
    top: 56px;
    
}

/* --------CONTENT RULES-------- */


/* offset superiore e laterale */
#dashboard{
    position: relative;
    width: 100%;
    top: 56px;

}

.size{
    height: 150px;
}

/* "stato" style */

.stato{
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 2px 5px;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellowgreen
}
.red{
    background-color: red;
}

.code{
    color: white;
    background-color: rgb(250, 80, 13);
    border-radius: 50%;
    padding: 9px;
    font-size: 1.4rem;
}

.btn{
    padding: 10px;
    border-radius: 5px;
}

.azioni{
    color: grey;
    border: 1px solid grey;
}
/* bottone prossime classi */

.prcl{
    color: blue;
    border: 1px solid blue;

}

/* style categorie */

.cat{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-color: blueviolet;
    padding: 5px 7px;
    border-radius: 15px;
    margin: 10px 5px;

}

.category{
    display: inline-block;
}

@media screen and (max-width:991px){
    .category{
        display:none;
    }
}